{{#types}}
    <li class="dropdown-header">{{type}}</li>
    {{#topics}}
        <li><a href="javascript:void(0);" class="jsTopicToWidget" onclick="fnctCreateWidget('{{../type}}','{{topic}}')">{{topic}}</a></li>
    {{/topics}}
    <li role="separator" class="divider"></li>
{{/types}}
