<div data-min-height="100" data-min-width="400" data-pos-x="100" data-pos-y="100" data-btn-widget-settings="1" data-btn-widget-remove="1">
    <div id="widget-{{id}}-content">
        <h4 id="gamepad-{{id}}-info" style="color:black; text-align: center;">no gamepad connected</h4>
    </div>
</div>