<meta  data-min-height="300" data-min-width="400" data-pos-x="100" data-pos-y="100" data-btn-widget-settings="1" data-btn-widget-remove="1">
<div id="widget-{{id}}-content">
    <script type="text/javascript" src="widgets/sensor_msgs/Joy/Gamepad/RadRobJoy.js"></script>
</div>

