<meta  data-min-height="576" data-min-width="720" data-pos-x="100" data-pos-y="100" data-btn-widget-settings="1" data-btn-widget-remove="1">
<div id="widget-{{id}}-content">
    <img id="widget-{{id}}-webcam" src="http://{{settings.ip}}/axis-cgi/mjpg/video.cgi?height=480?width=640"></img>
</div>

