<meta  data-min-height="100" data-min-width="400" data-pos-x="100" data-pos-y="100" data-btn-widget-settings="1" data-btn-widget-remove="1">
<div id="widget-{{id}}-content" style="border-style: solid;border-width: 1px;border-color:#2f79b9;">
    <h4 id="widget-{{id}}-speed-label" style="color:black;"></h4>
    <div id="widget-{{id}}-speed-slider"></div>
</div>

