.cssRosConnect.connected {
  background-color: #33aa23;
}

.cssRosConnect.error {
  background-color: #ff0000;
}

.cssRosMenu.connected {
  display: unset;
}

.cssRosMenu.disconnected {
  display: none;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  background-color: transparent;
  color: #fff;
}

.cssNavbarHeader:hover,
.cssNavbarHeader:focus {
  color: #fff;
}

.cssNavbarHeader {
  background-color: #2f79b9;
}

.cssRosConnect {
  margin-left: 20px;
}

.cssWorkspaceMenu {
  margin-left: 30px;
}

.cssRosMenu {
  margin-left: 30px;
}
