<meta  data-min-height="350" data-min-width="300" data-pos-x="100" data-pos-y="100" data-btn-widget-settings="1" data-btn-widget-remove="1">
<div id="widget-{{id}}-content">
    <div id="widget-{{id}}-joystick" style="position:absolute;height:300px;width:300px;"></div>
</div>

